@page "{keyword?}/{pages:int?}"
@using System.Text.RegularExpressions
@model lxsShop.Web.Pages.search.IndexModel
@{
    Layout = "Shared/_Layout";
}


@section Css{
    <link rel="stylesheet" href="/Static/css/public.min.css?v=8236772c1f" type="text/css">
    <link rel="stylesheet" href="/Static/css/product.min.css?v=5b03619417" type="text/css">

}


<div class="breadcrumb frame"><a href="/">首页</a> <small>/</small> <a href="/catalog/">产品中心</a> <small>/</small> 产品搜索</div>

<div id="container" class="frame">

    <div class="page-side">
        <div class="cate-box">
            <h3 class="title">
                相关分类
            </h3>
            <div class="cate-dl">
                <dl>
                    <dt class="cate-dl-c"><a href="/search/@Html.Raw(Model.keyword)">全部分类</a></dt>
                </dl>

                @*https://localhost:44391/search/%E9%98%B2%E9%9D%99%E7%94%B5?catid=11&p=111*@

                @{
                    if (Model.goodscatsLeft.Any())
                    {
                        foreach (var item in Model.goodscatsLeft)
                        {
                            <dl>
                                <dt class="cate-dl-c"><a href="/search/@Html.Raw(Model.keyword)?catid=@item.catId">@item.catName</a></dt>
                            </dl>
                        }
                    }
                }

                @*<dl>
            <dt class="cate-dl-c"><a href="/catalog/search/?keyword=%E7%9B%B4%E7%BA%BF%E5%AF%BC%E8%BD%A8&amp;id=296">凡一导轨</a></dt>
        </dl><dl>
            <dt class="cate-dl-c"><a href="/catalog/search/?keyword=%E7%9B%B4%E7%BA%BF%E5%AF%BC%E8%BD%A8&amp;id=341">HIWIN上银导轨</a></dt>
        </dl><dl>
            <dt class="cate-dl-c"><a href="/catalog/search/?keyword=%E7%9B%B4%E7%BA%BF%E5%AF%BC%E8%BD%A8&amp;id=345">THK直线导轨</a></dt>
        </dl><dl>
            <dt class="cate-dl-c"><a href="/catalog/search/?keyword=%E7%9B%B4%E7%BA%BF%E5%AF%BC%E8%BD%A8&amp;id=350">PMI银泰导轨</a></dt>
        </dl><dl>
            <dt class="cate-dl-c"><a href="/catalog/search/?keyword=%E7%9B%B4%E7%BA%BF%E5%AF%BC%E8%BD%A8&amp;id=353">TBI直线导轨</a></dt>
        </dl><dl>
            <dt class="cate-dl-c"><a href="/catalog/search/?keyword=%E7%9B%B4%E7%BA%BF%E5%AF%BC%E8%BD%A8&amp;id=354">ABBA直线导轨</a></dt>
        </dl><dl>
            <dt class="cate-dl-c"><a href="/catalog/search/?keyword=%E7%9B%B4%E7%BA%BF%E5%AF%BC%E8%BD%A8&amp;id=355">CPC直线导轨</a></dt>
        </dl><dl>
            <dt class="cate-dl-c"><a href="/catalog/search/?keyword=%E7%9B%B4%E7%BA%BF%E5%AF%BC%E8%BD%A8&amp;id=356">STAF直线导轨</a></dt>
        </dl><dl>
            <dt class="cate-dl-c"><a href="/catalog/search/?keyword=%E7%9B%B4%E7%BA%BF%E5%AF%BC%E8%BD%A8&amp;id=358">韩国SBC导轨</a></dt>
        </dl><dl>
            <dt class="cate-dl-c"><a href="/catalog/search/?keyword=%E7%9B%B4%E7%BA%BF%E5%AF%BC%E8%BD%A8&amp;id=359">韩国WON导轨</a></dt>
        </dl><dl>
            <dt class="cate-dl-c"><a href="/catalog/search/?keyword=%E7%9B%B4%E7%BA%BF%E5%AF%BC%E8%BD%A8&amp;id=361">IKO直线导轨</a></dt>
        </dl><dl>
            <dt class="cate-dl-c"><a href="/catalog/search/?keyword=%E7%9B%B4%E7%BA%BF%E5%AF%BC%E8%BD%A8&amp;id=363">三益SAMICK直线轴承 </a></dt>
        </dl><dl>
            <dt class="cate-dl-c"><a href="/catalog/search/?keyword=%E7%9B%B4%E7%BA%BF%E5%AF%BC%E8%BD%A8&amp;id=364">NSK直线导轨</a></dt>
        </dl><dl>
            <dt class="cate-dl-c"><a href="/catalog/search/?keyword=%E7%9B%B4%E7%BA%BF%E5%AF%BC%E8%BD%A8&amp;id=365">INA直线导轨</a></dt>
        </dl><dl>
            <dt class="cate-dl-c"><a href="/catalog/search/?keyword=%E7%9B%B4%E7%BA%BF%E5%AF%BC%E8%BD%A8&amp;id=367">Rexroth力士乐导轨</a></dt>
        </dl><dl>
            <dt class="cate-dl-c"><a href="/catalog/search/?keyword=%E7%9B%B4%E7%BA%BF%E5%AF%BC%E8%BD%A8&amp;id=382">HIWIN上银模组</a></dt>
        </dl>*@
            </div>
        </div>
    </div>

    <div class="page-main">



        <div class="products-list" id="products_list">
            <h2 class="title">搜索“<strong>@Html.Raw(Regex.Replace(Model.keyword, @"<[^>]*>", String.Empty))</strong>”相关的产品 <small>@Model.GoodsCount</small></h2>
            <ul class="products-ul clearfix">

                @if (Model.goods.Any())
                {
                    foreach (var item in Model.goods)
                    {
                        string src = "/uploads" + item.goodsImg + "_300.jpg";
                        <li>
                            <div class="products-box">
                                <div class="pic"><a target="_blank" href="/fa/@item.goodsId" title="@item.goodsName"><img src="@src" alt="@item.goodsName" title="@item.goodsName" class="img img-lazy"></a></div>
                                <div class="name"><a target="_blank" href="/fa/@item.goodsId" title="@item.goodsName">@item.goodsName</a></div>
                                <div class="days">@item.brandName</div>
                            </div>
                        </li>
                    }
                }

            </ul>

            
            @{
                if (Model.TotalPages > 1)
                {
                    string baseUrl = "/search/" + @Html.Raw(Model.keyword) + "?p={0}{1}";

                    string cat = "";
                    if (Model.CatID > 0)
                    {
                        cat = "&catid=" + Model.CatID;
                    }

                    string urlFisrst =string.Format(baseUrl,1, cat);
                    string urlNow = string.Format(baseUrl, Model.CurrentPage, cat);

                    int Next = Convert.ToInt16(Model.pages) + 1;
                    string urlNext = string.Format(baseUrl, Next, cat);

                    int Previous = Convert.ToInt16(Model.pages) - 1;
                    string urlPrevious = string.Format(baseUrl, Previous, cat);

                    string urlLast = string.Format(baseUrl, Model.TotalPages, cat);

                    <div class="ct">
                                    <ul class="pagination">

                                        @if (Model.pages > 1)
                                        {
                                            <li><a href="@urlPrevious">上一页</a></li>
                                            <li><a href="@urlFisrst">1</a></li>
                                            @if (Model.TotalPages > 2)
                                            {
                                                <li class="disabled"><span>…</span></li>
                                            }

                                        }

                                        <li class="active"><a href="@urlNow">@Model.pages</a></li>

                                        @if (Model.pages < Model.TotalPages)
                                        {
                                            @if (Model.TotalPages > 2)
                                            {
                                                <li class="disabled"><span>…</span></li>
                                            }
                                            <li><a href="@urlLast">@Model.TotalPages</a></li>
                                            <li><a href="@urlNext">下一页</a></li>

                                        }

                                    </ul>
                    </div>
                }
            }
        </div>

    </div>

    <div class="clear"></div>
</div>





@section Scripts{

    <script type="text/javascript">
        var ROOT = '/';
        var STATIC = '/Static/';
        var UID = 0;
        var IS_INDEX = 0;
        var SSID = 'jpor32sed1irlijq3a54q7bsp7';
    </script>
    <script src="/Static/js/forrun.min.js?v=ae9e0a639c"></script>
    <script type="text/javascript">
        var URL = "/catalog/search.html?keyword=&id=0";
    </script>
    <script src="/Static/js/product_list.min.js?v=57ffe3709f"></script>

}
