@page
@using lxsShop.ViewModel
@model lxsShop.Web.Pages.API.get_cate_listModel
@{
}

<ul class="fa-cate-list-ul">
    @{
        if (Model.goods_cats_top1.Any())
        {
            int cate = 0;
            foreach (var item in Model.goods_cats_top1)
            {
                if (cate == 8)
                {
                    cate = 1;
                }
                else if (item.catId == 93 || item.catId == 100 || item.catId == 148) //静电图标
                {
                    cate = 2;
                }
                else if (item.catId == 119 || item.catId == 139) //净化图标
                {
                    cate = 3;
                }
                else if (item.catId == 155) //口罩图标
                {
                    cate = 7;
                }
                else if (item.catId == 154 || item.catId == 2 || item.catId == 3) //工具图标
                {
                    cate = 6;
                }
                else if (item.catId == 18) //仪器仪表
                {
                    cate = 8;
                }
                else if (item.catId == 26) //控制阀流体泵
                {
                    cate = 9;
                }
                else if (item.catId == 47) //电工
                {
                    cate = 10;
                }
                else if (item.catId == 53) //低压工具
                {
                    cate = 11;
                }
                if (item.catNameShort == "电动手动工具") //工具图标
                {
                    cate = 6;
                }
                else if (item.catNameShort == "控制阀流体泵") //工具图标
                {
                    cate = 9;
                }

                <li class="fa-cate-list-li">
                    <div class="fa-cate-list-li-f">
                        <h3>
                            <a class="fa-nav-cate-@cate" href="/catalog/@item.catId/">
                                <span>@item.catName</span>
                            </a>
                        </h3>
                        <p>

                            @{
                                //读取二级分类
                                var select = Model.goods_cats.Where(t => t.parentId == item.catId).ToList();
                                if (select.Any())
                                {
                                    foreach (var item2 in select)
                                    {
                                        if (!string.IsNullOrEmpty(item2.catNameShort))
                                        {
                                            <a href="/catalog/@item2.catId/">@item2.catNameShort</a> //主菜单直接显示有简称的二级分类
                                        }
                                    }
                                }
                            }

                        </p>
                    </div>


                    <div class="fa-cate-list-li-s">
                        @{
                            if (select.Any())
                            {
                                foreach (var item2 in select)
                                {
                                    <dl class="clearfix">
                                        <dt>
                                            <a href="/catalog/@item2.catId/">@item2.catName</a>
                                        </dt>
                                        <dd class="fa-cate-list-name">
                                            @{
                                                //读取3级分类
                                                var select3 = Model.goods_cats.Where(t => t.parentId == item2.catId).ToList();
                                                if (select3.Any())
                                                {
                                                    foreach (var item3 in select3)
                                                    {
                                                        <a href="/catalog/@item3.catId/">@item3.catName</a>
                                                    }
                                                }
                                            }
                                            <div class="clear"></div>
                                        </dd>
                                    </dl>
                                }
                            }
                        }

                        @*
            <div class="fa-cate-list-li-s">
                <dl class="clearfix">
                    <dt><a href="/catalog/@item.catId/">@item.catName</a></dt>
                    <dd class="fa-cate-list-name">
                        @{
                            if (select.Any())
                            {
                                foreach (var item2 in select)
                                {
                                    <a href="/catalog/@item2.catId/">@item2.catName</a>
                                }
                            }
                        }
                        <div class="clear"></div>
                    </dd>

                    $1$<dd class="fa-cate-list-img">
                      
                        <a href="/catalog/109/" title="无油垫圈垫片"><img src="/Public/upload/fa_category/2018/03-01/5a97d32f85d84.jpg" alt="无油垫圈垫片"></a>
                        <a href="/catalog/149/" title="自润滑铜滑板"><img src="/Public/upload/fa_category/2018/03-06/5a9e4cfc99c6a.jpg" alt="自润滑铜滑板"></a>
                        <a href="/catalog/4/" title="线性导向轴"><img src="/Public/upload/fa_category/2017/08-08/598910c715e97.jpg" alt="线性导向轴"></a>
                        <a href="/catalog/5/" title="导向轴支座"><img src="/Public/upload/fa_category/2018/03-01/5a97d107443da.jpg" alt="导向轴支座"></a>
                        <a href="/catalog/6/" title="固定环 · 夹紧套"><img src="/Public/upload/fa_category/2018/03-01/5a97d17a2cb26.jpg" alt="固定环 · 夹紧套"></a>
                        <a href="/catalog/327/" title="机床防护罩"><img src="/Public/upload/fa_category/2019/10-16/5da6c7f5e594f.jpg" alt="机床防护罩"></a>
                        <a href="/catalog/329/" title="交叉滚子导轨滑台"><img src="/Public/upload/fa_category/2019/11-02/5dbd15590bb45.jpg" alt="交叉滚子导轨滑台"></a>
                        <a href="/catalog/346/" title="直线电机"><img src="/Public/upload/fa_category/2019/12-19/5dfacdfa38939.jpg" alt="直线电机"></a>
                        <div class="clear"></div>
                    </dd>#1#
                </dl>
                *@




                    </div>


                </li>
            }
        }
    }
</ul>

@*
    <ul class="fa-cate-list-ul">
        <li class="fa-cate-list-li">

            <div class="fa-cate-list-li-f">
                <h3><a class="fa-nav-cate-1" href="/catalog/293/"><span>人体防护</span></a></h3>
                <p>
                    <a href="/catalog/zhixiandg-340/">防静电服</a>
                    <a href="/catalog/298/">手套</a>
                    <a href="/catalog/376/">鞋</a>
                    <a href="/catalog/368/">手腕带</a>
                    <a href="/catalog/326/">接地线</a>
                </p>
            </div>

            <div class="fa-cate-list-li-s">
                <dl class="clearfix">
                    <dt><a href="/catalog/293/">人体防护</a></dt>
                    <dd class="fa-cate-list-name">
                        <a href="/catalog/zhixiandg-340/">防静电服</a>
                        <a href="/catalog/298/">防静电手套</a>
                        <a href="/catalog/376/">防静电鞋</a>
                        <a href="/catalog/368/">防静电手腕带</a>
                        <a href="/catalog/326/">接地线</a>
                        <div class="clear"></div>
                    </dd>

                    <dd class="fa-cate-list-img">
                        <a href="/catalog/zhixiandg-340/" title="直线导轨"><img src="/uploads/202101/5df1e03f619c8.jpg" alt="直线导轨"></a>
                        <a href="/catalog/298/" title="滚珠丝杠"><img src="/Public/upload/fa_category/2018/01-04/5a4df0fe771f7.jpg" alt="滚珠丝杠"></a>
                        <a href="/catalog/376/" title="模组滑台电缸"><img src="/Public/upload/fa_category/2020/01-15/5e1ecbe0aea46.jpg" alt="模组滑台电缸"></a>
                        <a href="/catalog/368/" title="丝杆支撑座"><img src="/Public/upload/fa_category/2020/01-13/5e1bc4da5905a.jpg" alt="丝杆支撑座"></a>
                        <a href="/catalog/326/" title="电机座"><img src="/Public/upload/fa_category/2019/10-12/5da1762c7df73.jpg" alt="电机座"></a>
                        <a href="/catalog/320/" title="梯形丝杠"><img src="/Public/upload/fa_category/2020/01-04/5e100b45b75dc.jpg" alt="梯形丝杠"></a>
                        <a href="/catalog/385/" title="滚珠花键"><img src="/Public/upload/fa_category/2020/02-26/5e55dcf8c864c.jpg" alt="滚珠花键"></a>
                        <a href="/catalog/362/" title=" 直线轴承"><img src="/Public/upload/fa_category/2020/01-06/5e129e998853a.jpg" alt=" 直线轴承"></a>
                        <a href="/catalog/360/" title="钢珠衬套"><img src="/Public/upload/fa_category/2020/01-04/5e0fe7bf80153.jpg" alt="钢珠衬套"></a>
                        <a href="/catalog/108/" title="无油衬套"><img src="/Public/upload/fa_category/2018/03-01/5a97d2a04bac6.jpg" alt="无油衬套"></a>
                        <a href="/catalog/109/" title="无油垫圈垫片"><img src="/Public/upload/fa_category/2018/03-01/5a97d32f85d84.jpg" alt="无油垫圈垫片"></a>
                        <a href="/catalog/149/" title="自润滑铜滑板"><img src="/Public/upload/fa_category/2018/03-06/5a9e4cfc99c6a.jpg" alt="自润滑铜滑板"></a>
                        <a href="/catalog/4/" title="线性导向轴"><img src="/Public/upload/fa_category/2017/08-08/598910c715e97.jpg" alt="线性导向轴"></a>
                        <a href="/catalog/5/" title="导向轴支座"><img src="/Public/upload/fa_category/2018/03-01/5a97d107443da.jpg" alt="导向轴支座"></a>
                        <a href="/catalog/6/" title="固定环 · 夹紧套"><img src="/Public/upload/fa_category/2018/03-01/5a97d17a2cb26.jpg" alt="固定环 · 夹紧套"></a>
                        <a href="/catalog/327/" title="机床防护罩"><img src="/Public/upload/fa_category/2019/10-16/5da6c7f5e594f.jpg" alt="机床防护罩"></a>
                        <a href="/catalog/329/" title="交叉滚子导轨滑台"><img src="/Public/upload/fa_category/2019/11-02/5dbd15590bb45.jpg" alt="交叉滚子导轨滑台"></a>
                        <a href="/catalog/346/" title="直线电机"><img src="/Public/upload/fa_category/2019/12-19/5dfacdfa38939.jpg" alt="直线电机"></a>
                        <div class="clear"></div>
                    </dd>
                </dl>
            </div>

        </li>

        <li class="fa-cate-list-li">
            <div class="fa-cate-list-li-f">
                <h3><a class="fa-nav-cate-2" href="/catalog/292/"><span>工业传动部件</span></a></h3>
                <p><a href="/catalog/426/">联轴器</a><a href="/catalog/36/">同步带</a><a href="/catalog/37/">同步带轮</a><a href="/catalog/343/">胀套</a><a href="/catalog/422/">平皮带</a><a href="/catalog/19/">滚轮</a></p>
            </div>
            <div class="fa-cate-list-li-s">
                <dl class="clearfix">
                    <dt><a href="/catalog/292/">工业传动部件</a></dt>
                    <dd class="fa-cate-list-name"><a href="/catalog/426/">联轴器</a><a href="/catalog/36/">同步带 </a><a href="/catalog/37/">同步带轮</a><a href="/catalog/343/">免键胀套</a><a href="/catalog/422/">工业皮带 · 输送带</a><a href="/catalog/19/">滚轮·滚筒</a><a href="/catalog/38/">圆皮带</a><a href="/catalog/39/">圆皮带轮</a><a href="/catalog/40/">链条</a><a href="/catalog/42/">链轮</a><a href="/catalog/44/">链条配件</a><a href="/catalog/31/">包胶轴承滑轮</a><a href="/catalog/27/">钢珠滚轮·万向滚珠</a><a href="/catalog/30/">毛刷辊·工业毛刷</a><a href="/catalog/351/">齿轮</a><a href="/catalog/347/">齿条</a><a href="/catalog/399/">关节轴承</a><a href="/catalog/400/">带座轴承</a><a href="/catalog/405/">进口轴承</a><a href="/catalog/344/">环形导轨</a><a href="/catalog/431/">小型输送机</a><div class="clear"></div></dd>
                    <dd class="fa-cate-list-img"><a href="/catalog/426/" title="联轴器"><img src="/Public/upload/facategory/2020/11-12/5faccf2460270.jpg" alt="联轴器"></a><a href="/catalog/36/" title="同步带 "><img src="/Public/upload/fa_category/2018/02-26/5a93d02942f15.jpg" alt="同步带 "></a><a href="/catalog/37/" title="同步带轮"><img src="/Public/upload/fa_category/2018/02-26/5a93cfdedaeb9.jpg" alt="同步带轮"></a><a href="/catalog/343/" title="免键胀套"><img src="/Public/upload/fa_category/2019/12-14/5df49874992a7.jpg" alt="免键胀套"></a><a href="/catalog/422/" title="工业皮带 · 输送带"><img src="/Public/upload/facategory/2020/08-26/5f461bc7e8a85.jpg" alt="工业皮带 · 输送带"></a><a href="/catalog/19/" title="滚轮·滚筒"><img src="/Public/upload/fa_category/2017/08-08/598911b6a78e4.jpg" alt="滚轮·滚筒"></a><a href="/catalog/38/" title="圆皮带"><img src="/Public/upload/fa_category/2017/08-30/59a6542d5427e.jpg" alt="圆皮带"></a><a href="/catalog/39/" title="圆皮带轮"><img src="/Public/upload/fa_category/2017/08-30/59a6543e1ca97.jpg" alt="圆皮带轮"></a><a href="/catalog/40/" title="链条"><img src="/Public/upload/fa_category/2017/08-30/59a6545cd8c93.jpg" alt="链条"></a><a href="/catalog/42/" title="链轮"><img src="/Public/upload/fa_category/2017/08-30/59a6548e1d7e8.jpg" alt="链轮"></a><a href="/catalog/44/" title="链条配件"><img src="/Public/upload/fa_category/2017/08-30/59a654aee1194.jpg" alt="链条配件"></a><a href="/catalog/31/" title="包胶轴承滑轮"><img src="/Public/upload/fa_category/2017/08-08/5989123f5aa70.jpg" alt="包胶轴承滑轮"></a><a href="/catalog/27/" title="钢珠滚轮·万向滚珠"><img src="/Public/upload/fa_category/2018/03-01/5a97ca857d959.jpg" alt="钢珠滚轮·万向滚珠"></a><a href="/catalog/30/" title="毛刷辊·工业毛刷"><img src="/Public/upload/fa_category/2017/08-08/5989123537327.jpg" alt="毛刷辊·工业毛刷"></a><a href="/catalog/351/" title="齿轮"><img src="/Public/upload/fa_category/2019/12-26/5e04624c5a0d6.jpg" alt="齿轮"></a><a href="/catalog/347/" title="齿条"><img src="/Public/upload/fa_category/2019/12-26/5e04193ac6f36.jpg" alt="齿条"></a><a href="/catalog/399/" title="关节轴承"><img src="/Public/upload/fa_category/2020/03-16/5e6f2754310bb.jpg" alt="关节轴承"></a><a href="/catalog/400/" title="带座轴承"><img src="/Public/upload/fa_category/2020/03-16/5e6f2951866b7.jpg" alt="带座轴承"></a><a href="/catalog/405/" title="进口轴承"><img src="/Public/upload/fa_category/2020/03-23/5e784dafbac9b.jpg" alt="进口轴承"></a><a href="/catalog/344/" title="环形导轨"><img src="/Public/upload/facategory/2020/11-12/5face3c89168c.jpg" alt="环形导轨"></a><a href="/catalog/431/" title="小型输送机"><img src="/Public/upload/facategory/2020/12-15/5fd84f9088fca.jpg" alt="小型输送机"></a><div class="clear"></div></dd>
                </dl>
            </div>
        </li>
        <li class="fa-cate-list-li">
            <div class="fa-cate-list-li-f">
                <h3><a class="fa-nav-cate-3" href="/catalog/306/"><span>工业框架部件</span></a></h3>
                <p><a href="/catalog/304/">铝型材</a><a href="/catalog/305/">脚轮</a><a href="/catalog/317/">脚杯</a><a href="/catalog/339/">福马轮</a><a href="/catalog/315/">搭扣</a><a href="/catalog/314/">磁吸</a></p>
            </div>
            <div class="fa-cate-list-li-s">
                <dl class="clearfix">
                    <dt><a href="/catalog/306/">工业框架部件</a></dt>
                    <dd class="fa-cate-list-name"><a href="/catalog/304/">工业铝型材</a><a href="/catalog/305/">脚轮</a><a href="/catalog/317/">脚杯</a><a href="/catalog/339/">水平调节脚轮</a><a href="/catalog/315/">弹簧锁扣 · 搭扣锁</a><a href="/catalog/314/">磁力扣 · 磁吸</a><a href="/catalog/308/">拉手·提手</a><a href="/catalog/307/">紧定手柄·胶木手柄</a><a href="/catalog/325/">旋钮把手▪胶木把手</a><a href="/catalog/309/">手轮 · 摇手柄</a><a href="/catalog/311/">气弹簧</a><a href="/catalog/312/">钢珠滑轨</a><a href="/catalog/313/">合页 · 铰链</a><a href="/catalog/333/">密封条</a><a href="/catalog/334/">门碰卡扣</a><a href="/catalog/335/">插销锁</a><a href="/catalog/336/">挂钩</a><a href="/catalog/338/">系留紧固件</a><a href="/catalog/425/">门锁</a><a href="/catalog/436/">机构安装组件</a><div class="clear"></div></dd>
                    <dd class="fa-cate-list-img"><a href="/catalog/304/" title="工业铝型材"><img src="/Public/upload/fa_category/2018/02-26/5a9382929c8bf.jpg" alt="工业铝型材"></a><a href="/catalog/305/" title="脚轮"><img src="/Public/upload/fa_category/2018/04-07/5ac8203a0ed50.jpg" alt="脚轮"></a><a href="/catalog/317/" title="脚杯"><img src="/Public/upload/fa_category/2018/10-30/5bd7b07d2fd25.jpg" alt="脚杯"></a><a href="/catalog/339/" title="水平调节脚轮"><img src="/Public/upload/fa_category/2019/12-10/5deefdff852f2.jpg" alt="水平调节脚轮"></a><a href="/catalog/315/" title="弹簧锁扣 · 搭扣锁"><img src="/Public/upload/fa_category/2018/04-07/5ac88634e3235.jpg" alt="弹簧锁扣 · 搭扣锁"></a><a href="/catalog/314/" title="磁力扣 · 磁吸"><img src="/Public/upload/fa_category/2018/04-07/5ac88625dd875.jpg" alt="磁力扣 · 磁吸"></a><a href="/catalog/308/" title="拉手·提手"><img src="/Public/upload/fa_category/2018/04-07/5ac885d4da705.jpg" alt="拉手·提手"></a><a href="/catalog/307/" title="紧定手柄·胶木手柄"><img src="/Public/upload/fa_category/2019/09-10/5d7743ebce8d4.jpg" alt="紧定手柄·胶木手柄"></a><a href="/catalog/325/" title="旋钮把手▪胶木把手"><img src="/Public/upload/fa_category/2019/09-26/5d8c1a909c1fd.jpg" alt="旋钮把手▪胶木把手"></a><a href="/catalog/309/" title="手轮 · 摇手柄"><img src="/Public/upload/fa_category/2018/04-07/5ac885e2ba353.jpg" alt="手轮 · 摇手柄"></a><a href="/catalog/311/" title="气弹簧"><img src="/Public/upload/fa_category/2018/04-07/5ac885fabf727.jpg" alt="气弹簧"></a><a href="/catalog/312/" title="钢珠滑轨"><img src="/Public/upload/fa_category/2018/04-07/5ac88605c260e.jpg" alt="钢珠滑轨"></a><a href="/catalog/313/" title="合页 · 铰链"><img src="/Public/upload/fa_category/2018/04-07/5ac88617d25ed.jpg" alt="合页 · 铰链"></a><a href="/catalog/333/" title="密封条"><img src="/Public/upload/fa_category/2019/11-25/5ddb8a2e7196f.jpg" alt="密封条"></a><a href="/catalog/334/" title="门碰卡扣"><img src="/Public/upload/fa_category/2019/11-27/5dddd9e9c037f.jpg" alt="门碰卡扣"></a><a href="/catalog/335/" title="插销锁"><img src="/Public/upload/fa_category/2019/11-30/5de215f1ab4ed.jpg" alt="插销锁"></a><a href="/catalog/336/" title="挂钩"><img src="/Public/upload/fa_category/2019/12-05/5de8bb06acaa1.jpg" alt="挂钩"></a><a href="/catalog/338/" title="系留紧固件"><img src="/Public/upload/fa_category/2019/12-09/5dedf58f54801.jpg" alt="系留紧固件"></a><a href="/catalog/425/" title="门锁"><img src="/Public/upload/facategory/2020/09-15/5f608d299f69d.jpg" alt="门锁"></a><a href="/catalog/436/" title="机构安装组件"><img src="/Public/upload/facategory/2021/01-26/600fdeb4de025.jpg" alt="机构安装组件"></a><div class="clear"></div></dd>
                </dl>
            </div>
        </li>
        <li class="fa-cate-list-li">
            <div class="fa-cate-list-li-f">
                <h3><a class="fa-nav-cate-4" href="/catalog/jixie-1/"><span>通用五金配件</span></a></h3>
                <p><a href="/catalog/luosi-26/">螺丝</a><a href="/catalog/91/">螺母</a><a href="/catalog/22/">垫圈</a><a href="/catalog/20/">磁铁</a><a href="/catalog/159/">压缩弹簧</a><a href="/catalog/235/">矩形弹簧</a></p>
            </div>
            <div class="fa-cate-list-li-s">
                <dl class="clearfix">
                    <dt><a href="/catalog/jixie-1/">通用五金配件</a></dt>
                    <dd class="fa-cate-list-name"><a href="/catalog/luosi-26/">螺丝 · 螺栓</a><a href="/catalog/91/">螺帽 · 螺母</a><a href="/catalog/22/">垫圈垫片 · 轴环</a><a href="/catalog/20/">强力小磁铁·磁条</a><a href="/catalog/159/">压缩弹簧</a><a href="/catalog/235/">矩形弹簧</a><a href="/catalog/328/">拉伸弹簧</a><a href="/catalog/160/">PU聚氨酯棒·优力胶</a><a href="/catalog/316/">O型密封圈 · 骨架油封</a><a href="/catalog/319/">液压缓冲器</a><div class="clear"></div></dd>
                    <dd class="fa-cate-list-img"><a href="/catalog/luosi-26/" title="螺丝 · 螺栓"><img src="/Public/upload/fa_category/2018/02-26/5a938628562ef.jpg" alt="螺丝 · 螺栓"></a><a href="/catalog/91/" title="螺帽 · 螺母"><img src="/Public/upload/fa_category/2018/02-26/5a93af1887135.jpg" alt="螺帽 · 螺母"></a><a href="/catalog/22/" title="垫圈垫片 · 轴环"><img src="/Public/upload/fa_category/2018/02-26/5a93be3b3be4e.jpg" alt="垫圈垫片 · 轴环"></a><a href="/catalog/20/" title="强力小磁铁·磁条"><img src="/Public/upload/fa_category/2018/02-26/5a93b9688a04e.jpg" alt="强力小磁铁·磁条"></a><a href="/catalog/159/" title="压缩弹簧"><img src="/Public/upload/fa_category/2017/11-29/5a1e2345169c9.jpg" alt="压缩弹簧"></a><a href="/catalog/235/" title="矩形弹簧"><img src="/Public/upload/fa_category/2018/02-26/5a93c6b1c1291.jpg" alt="矩形弹簧"></a><a href="/catalog/328/" title="拉伸弹簧"><img src="/Public/upload/fa_category/2019/10-18/5da9313c87a0c.jpg" alt="拉伸弹簧"></a><a href="/catalog/160/" title="PU聚氨酯棒·优力胶"><img src="/Public/upload/fa_category/2017/11-29/5a1e226328cd6.jpg" alt="PU聚氨酯棒·优力胶"></a><a href="/catalog/316/" title="O型密封圈 · 骨架油封"><img src="/Public/upload/fa_category/2018/10-13/5bc1438add23b.jpg" alt="O型密封圈 · 骨架油封"></a><a href="/catalog/319/" title="液压缓冲器"><img src="/Public/upload/fa_category/2018/12-15/5c14512c0227a.jpg" alt="液压缓冲器"></a><div class="clear"></div></dd>
                </dl>
            </div>
        </li>
        <li class="fa-cate-list-li">
            <div class="fa-cate-list-li-f">
                <h3><a class="fa-nav-cate-5" href="/catalog/105/"><span>定位固定零件</span></a></h3>
                <p><a href="/catalog/21/">定位销</a><a href="/catalog/24/">平键</a><a href="/catalog/322/">位移台</a><a href="/catalog/323/">电动台</a><a href="/catalog/324/">对位平台</a><a href="/catalog/125/">定位销衬套</a></p>
            </div>
            <div class="fa-cate-list-li-s">
                <dl class="clearfix">
                    <dt><a href="/catalog/105/">定位固定零件</a></dt>
                    <dd class="fa-cate-list-name"><a href="/catalog/21/">定位销 · 圆柱销</a><a href="/catalog/24/">平键</a><a href="/catalog/322/">手动位移台 · 微调平台</a><a href="/catalog/323/">电动位移平台</a><a href="/catalog/324/">对位平台</a><a href="/catalog/125/">定位销衬套</a><a href="/catalog/23/">卡销 · 开口销</a><a href="/catalog/25/">扣环 · 挡圈</a><a href="/catalog/35/">弹簧柱塞 · 旋钮柱塞</a><a href="/catalog/118/">紧定螺钉 · 锁紧螺栓</a><div class="clear"></div></dd>
                    <dd class="fa-cate-list-img"><a href="/catalog/21/" title="定位销 · 圆柱销"><img src="/Public/upload/fa_category/2018/03-02/5a98b489d8eb4.jpg" alt="定位销 · 圆柱销"></a><a href="/catalog/24/" title="平键"><img src="/Public/upload/fa_category/2018/03-02/5a98b4d816420.jpg" alt="平键"></a><a href="/catalog/322/" title="手动位移台 · 微调平台"><img src="/Public/upload/fa_category/2019/05-08/5cd23f6bd19c4.jpg" alt="手动位移台 · 微调平台"></a><a href="/catalog/323/" title="电动位移平台"><img src="/Public/upload/fa_category/2019/05-08/5cd2403458b7e.jpg" alt="电动位移平台"></a><a href="/catalog/324/" title="对位平台"><img src="/Public/upload/fa_category/2019/05-08/5cd241568a2e3.jpg" alt="对位平台"></a><a href="/catalog/125/" title="定位销衬套"><img src="/Public/upload/fa_category/2018/03-02/5a98b4c54ea6e.jpg" alt="定位销衬套"></a><a href="/catalog/23/" title="卡销 · 开口销"><img src="/Public/upload/fa_category/2018/03-02/5a98b6254eb79.jpg" alt="卡销 · 开口销"></a><a href="/catalog/25/" title="扣环 · 挡圈"><img src="/Public/upload/fa_category/2018/03-02/5a98bb15a556d.jpg" alt="扣环 · 挡圈"></a><a href="/catalog/35/" title="弹簧柱塞 · 旋钮柱塞"><img src="/Public/upload/fa_category/2018/02-26/5a93c47af3eda.jpg" alt="弹簧柱塞 · 旋钮柱塞"></a><a href="/catalog/118/" title="紧定螺钉 · 锁紧螺栓"><img src="/Public/upload/fa_category/2018/01-22/5a659669b6cb1.jpg" alt="紧定螺钉 · 锁紧螺栓"></a><div class="clear"></div></dd>
                </dl>
            </div>
        </li>
        <li class="fa-cate-list-li">
            <div class="fa-cate-list-li-f">
                <h3><a class="fa-nav-cate-6" href="/catalog/384/"><span>电气驱动部件</span></a></h3>
                <p><a href="/catalog/8/">拖链</a><a href="/catalog/390/">伺服电机</a><a href="/catalog/395/">DD马达</a><a href="/catalog/330/">伺服线束</a><a href="/catalog/plc-331/">PLC线束</a><a href="/catalog/421/">信号灯</a></p>
            </div>
            <div class="fa-cate-list-li-s">
                <dl class="clearfix">
                    <dt><a href="/catalog/384/">电气驱动部件</a></dt>
                    <dd class="fa-cate-list-name"><a href="/catalog/8/">拖链 · 坦克链</a><a href="/catalog/390/">伺服电机</a><a href="/catalog/395/">DD马达</a><a href="/catalog/330/">伺服控制线束</a><a href="/catalog/plc-331/">PLC线束</a><a href="/catalog/421/">信号灯·报警灯</a><a href="/catalog/424/">行星减速机·谐波减速机</a><div class="clear"></div></dd>
                    <dd class="fa-cate-list-img"><a href="/catalog/8/" title="拖链 · 坦克链"><img src="/Public/upload/fa_category/2019/09-07/5d731af8b88ed.jpg" alt="拖链 · 坦克链"></a><a href="/catalog/390/" title="伺服电机"><img src="/Public/upload/fa_category/2020/02-28/5e58aad32981e.jpg" alt="伺服电机"></a><a href="/catalog/395/" title="DD马达"><img src="/Public/upload/fa_category/2020/03-03/5e5e0e871ba85.jpg" alt="DD马达"></a><a href="/catalog/330/" title="伺服控制线束"><img src="/Public/upload/fa_category/2019/11-12/5dca067d15cf8.jpg" alt="伺服控制线束"></a><a href="/catalog/plc-331/" title="PLC线束"><img src="/Public/upload/fa_category/2019/11-12/5dca209b0e125.jpg" alt="PLC线束"></a><a href="/catalog/421/" title="信号灯·报警灯"><img src="/Public/upload/facategory/2020/06-05/5eda0e853cd29.jpg" alt="信号灯·报警灯"></a><a href="/catalog/424/" title="行星减速机·谐波减速机"><img src="/Public/upload/facategory/2021/01-22/600a3b726ccdc.jpg" alt="行星减速机·谐波减速机"></a><div class="clear"></div></dd>
                </dl>
            </div>
        </li>
        <li class="fa-cate-list-li">
            <div class="fa-cate-list-li-f">
                <h3><a class="fa-nav-cate-7" href="/catalog/429/"><span>气动元件</span></a></h3>
                <p><a href="/catalog/430/">真空吸盘</a><a href="/catalog/432/">空气喷嘴</a></p>
            </div>
            <div class="fa-cate-list-li-s">
                <dl class="clearfix">
                    <dt><a href="/catalog/429/">气动元件</a></dt>
                    <dd class="fa-cate-list-name"><a href="/catalog/430/">真空吸盘</a><a href="/catalog/432/">工业喷嘴·吹风喷嘴</a><div class="clear"></div></dd>
                    <dd class="fa-cate-list-img"><a href="/catalog/430/" title="真空吸盘"><img src="/Public/upload/facategory/2020/11-18/5fb4986c90fa4.jpg" alt="真空吸盘"></a><a href="/catalog/432/" title="工业喷嘴·吹风喷嘴"><img src="/Public/upload/facategory/2020/12-26/5fe68a6b46cd1.jpg" alt="工业喷嘴·吹风喷嘴"></a><div class="clear"></div></dd>
                </dl>
            </div>
        </li>
    </ul>
    *@