@page
@model lxsShop.Web.Views.Home.IndexModel
@{ //ViewData["Title"] = "FytERP管理系统";
    Layout = "Shared/_Layout";
}
@section Css{
    <link rel="stylesheet" href="/Static/css/index.min.css" type="text/css">
}


<div class="banner">
        <div class="index-banner">
            <div class="bd">
                <ul>

                    @{
                        if (Model.bannerList.Any())
                        {
                            foreach (var item in Model.bannerList)
                            {
                                if (string.IsNullOrEmpty(item.URL))
                                {
                                    <li style="        background-image: url(/uploads/@item.Img);"></li>

                                }
                                else
                                {
                                    <li style="        background-image: url(/uploads/@item.Img);"><a href="@item.URL" title="@item.Title" target="_blank"><strong>@item.Title</strong></a></li>
                                }
                            }
                        }
                    }
                    @*<li style="background-image: url(/uploads/ad/5ed4630ca0797.jpg);"><a href="https://www.forrun.cn/book.html" title="产品选型手册免费申请" target="_blank"><strong>产品选型手册免费申请</strong></a></li>
                        <li style="background-image: url(/uploads/ad/5f4ef0b028149.jpg);"><a href="https://www.forrun.cn/supplier.html" title="诚邀加入凡一供应链" target="_blank"><strong>诚邀加入凡一供应链</strong></a></li>
                        <li style="background-image: url(/uploads/ad/5f56d78f77955.jpg);"><a href="	https://www.forrun.cn/help/about.html" title="凡一商城介绍" target="_blank"><strong>凡一商城介绍</strong></a></li>*@
                </ul>
            </div>
            <div class="hd">
                <ul><li></li><li></li><li></li><li></li><li></li><li></li></ul>
            </div>
            @* <div class="index-notice"> *@
            @*     <div class="user-info"> *@
            @*         <img src="/Static/images/user-head.png?=1.2" alt="用户头像" /> *@
            @*         <p>尊敬的客户，您好！<br />欢迎来到凡一商城！</p> *@
            @*     </div> *@
            @*     <div class="user-btn"> *@
            @*         <a href="/user/login.html" rel="nofollow" class="mr10">登录</a> *@
            @*         <a href="/user/signup.html" rel="nofollow">注册</a> *@
            @*     </div>           <div class="free-find"><a href="/quote.html"><i class="fa fa-table" aria-hidden="true"></i> 快速报价入口</a><p>支持型号替换和来图定制</p></div> *@
            @*     <div class="notice-box"> *@
            @*         <h3><a href="/article/notice.html" class="fr">更多+</a>商城新闻</h3> *@
            @*         <ul> *@
            @*             <li><a href="/article/2427.html" title="凡一商城2021年春节放假通知" target="_blank">凡一商城2021年春节放假通知</a></li> *@
            @*             <li><a href="/article/2424.html" title="凡一商城2021年元旦放假通知" target="_blank">凡一商城2021年元旦放假通知</a></li> *@
            @*             <li><a href="/article/2331.html" title="凡一商城2020年国庆节及中秋节放假通知" target="_blank">凡一商城2020年国庆节及中秋节放假通知</a></li> *@
            @*             <li><a href="/article/2275.html" title="“小新异大服务” 凡一商城网站改版上线" target="_blank">“小新异大服务” 凡一商城网站改版上线</a></li> *@
            @*             <li><a href="/article/2274.html" title="喜讯！凡一商城又获“广东省守合同重信用企业”" target="_blank">喜讯！凡一商城又获“广东省守合同重信用企业”</a></li> *@
            @*         </ul> *@
            @*     </div> *@
            @*     <div class="index-book-app"><a href="/book.html"><h4>纸质目录免费申请</h4><p>凡一商城《2020-2021 产品手册》</p></a></div> *@
            @* </div> *@
        </div>
    </div>


    <div class="index-floor floor-2 mt35 frame">
        <div class="floor-tit">
            <h3>人体防护类</h3>
            <span><a href="/catalog/292/">更多 <i class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
        </div>
        <div class="floor-con clearfix">
            <div class="floor-img"><a href="/catalog/292/"><img src="/Static/images/index/f2.jpg" alt="人体防护类"></a></div>
            <div class="floor-pro">
                <ul>

                    @{
                        if (Model.goodsList_cat2.Any())
                        {
                            foreach (var item in Model.goodsList_cat2)
                            {
                                string imgsrc = "/uploads" + item.goodsImg + "_100.jpg";
                                string goodsName = item.goodsName;
                                if (goodsName.Length > 9)
                                {
                                    goodsName = goodsName.Substring(0, 9) + "...";
                                }

                                if (@item.isRecom || @item.isNew)
                                {
                                    <li>
                                        <span class="rec">热门</span>
                                        <a href="/catalog/426/" title="@item.goodsName">
                                            <img src="@imgsrc" alt="@item.goodsName">
                                            <p>@goodsName</p>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="/catalog/426/" title="@item.goodsName">
                                            <img src="@imgsrc" alt="@item.goodsName">
                                            <p>@goodsName</p>
                                        </a>
                                    </li>
                                }
                            }
                        }
                    }



                </ul>
            </div>
        </div>
    </div><div class="index-floor floor-3 mt35 frame">
        <div class="floor-tit">
            <h3>作业用具类</h3>
            <span><a href="/catalog/306/">更多 <i class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
        </div>
        <div class="floor-con clearfix">
            <div class="floor-img"><a href="/catalog/306/"><img src="/Static/images/index/f3.jpg" alt="作业用具类"></a></div>
            <div class="floor-pro">
                <ul>

                    @{
                        if (Model.goodsList_cat3.Any())
                        {
                            foreach (var item in Model.goodsList_cat3)
                            {
                                string imgsrc = "/uploads" + item.goodsImg + "_100.jpg";
                                string goodsName = item.goodsName;
                                if (goodsName.Length > 9)
                                {
                                    goodsName = goodsName.Substring(0, 9) + "...";
                                }

                                if (@item.isRecom || @item.isNew)
                                {
                                    <li>
                                        <span class="rec">热门</span>
                                        <a href="/catalog/426/" title="@item.goodsName">
                                            <img src="@imgsrc" alt="@item.goodsName">
                                            <p>@goodsName</p>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="/catalog/426/" title="@item.goodsName">
                                            <img src="@imgsrc" alt="@item.goodsName">
                                            <p>@goodsName</p>
                                        </a>
                                    </li>
                                }
                            }
                        }
                    }

                </ul>
            </div>
        </div>
    </div>



    <div class="index-brand mt35 frame">
        <div class="product-tit">
            <h3 class="i-brand">品牌中心</h3>
            <span><a href="/brand/">查看更多</a></span>
        </div>
        <div class="index-brand-con">

            <ul class="index-brand-ul clearfix">


                @{
                    if (Model.brandsList.Any())
                    {
                        foreach (var item in Model.brandsList)
                        {

                            @*<option value='@item.EnClassName' selected="selected">@item.ClassName</option>*@
                            <li><a href="#"><img src="/uploads/Logo/@item.brandImg" alt="@item.brandName" /><span>@item.brandName</span></a></li>
                        }
                    }
                }



            </ul>
        </div>
    </div>



    @*<div class="frame mt35">
            <div class="links">
                <strong>友情链接</strong><a href="http://www.szcy99.com/" target="_blank">激光打标机厂家</a><a href="http://www.pinpai-bang.com" target="_blank">中国品牌榜</a><a href="http://www.schalod.com" target="_blank">光栅尺</a><a href="https://www.gmb2b.com" target="_blank">b2b网站</a><a href="https://www.chinabrands.cn/ " target="_blank">外贸b2b平台</a><a href="http://www.yunken.com" target="_blank">橡胶</a><a href="https://www.ymgk.com/" target="_blank">工控网</a><a href="http://www.hlo-trade.com/" target="_blank">SCHUNK</a><a href="http://www.sheji-china.cn" target="_blank">十大设计品牌</a><a href="https://www.huanbao35.com" target="_blank">环保设备</a><a href="http://www.lqjxc.com" target="_blank">挖掘机</a><a href="http://www.sotongwang.com" target="_blank">搜统网</a><a href="http://www.0tpe.com" target="_blank">tpu</a><a href="https://www.bjhgyjs.com" target="_blank">检测机构</a><a href="http://www.juboshi.cn" target="_blank">空调维修</a><a href="https://www.huazhengcaiwu.com" target="_blank">注册公司</a>
            </div>
        </div>*@

    @section Scripts{
        <script type="text/javascript">
            var ROOT = '/';
            var STATIC = '/Static/';
            var UID = 0;
            var IS_INDEX = 1;
            var SSID = 'p0aaqfjqvn9el5po2q8qbr6626';
        </script>
        <script src="/Static/js/forrun.min.js?v=ae9e0a639c"></script>
        <script>var banner_bg = [@Html.Raw(ViewData["banner_bg"])];</script>
        <script src="/Static/js/index.min.js?v=90058d336a"></script>
    }
