@page
@model lxsShop.Web.Views.Home.IndexModel
@{ //ViewData["Title"] = "FytERP管理系统";
    Layout = "_Layout";
}



<div class="header">
    <div class="topline">
        <div class="frame">
            <ul class="login-nav fl">
                <li class="addfav"><a href="javascript:void(0);" target="_parent" onclick="AddFav(window.location.href,document.title)" rel="nofollow"><i class="fa fa-star" aria-hidden="true"></i> 收藏本站</a></li>
               

            </ul>        <ul class="tool-nav fr">
                <li class="tool-sub"><a href="javascript:void(0);" rel="nofollow">微信号</a><img class="tool-sub-con" src="/Static/images/WX58ba66d5dc527.jpg" alt="邦可微信二维码" /></li>
                <li class="br">-</li>

                <li><a href="/help/contact.html" rel="nofollow">联系我们</a></li>

                <li class="br">-</li>
                <li class="telephone"><i class="fa fa-phone-square" aria-hidden="true"></i> @Html.Raw(ViewData["tel"])</li>
            </ul>
        </div>
    </div>
    <div class="top frame">
        <div class="logo"><a href="@Html.Raw(ViewData["首页"])" title="@Html.Raw(ViewData["Title"])"><img src="/uploads/5ed463b88a786.png" alt="@Html.Raw(ViewData["Title"])"></a></div>
        <div class="search-bar">
            <div class="search-form">
                <form name="search_form" id="search_form" method="get" action="/search/">
                    <input autocomplete="off" type="text" class="search-text" name="keyword" id="search_keyword" value="" placeholder="请输入产品型号或名称进行搜索" />
                    <button type="button" class="search-btn" id="search_submit"><i class="fa fa-search" aria-hidden="true"></i> 搜 索</button>
                </form>
                <div class="search-suggest"></div>
            </div>
            <div class="search-hot">
                <span>热门搜索：</span>
                @*<a target="_blank" href="/search/?keyword=%E7%9B%B4%E7%BA%BF%E5%AF%BC%E8%BD%A8">直线导轨</a>
        <a target="_blank" href="/search/?keyword=%E6%BB%9A%E7%8F%A0%E4%B8%9D%E6%9D%A0">滚珠丝杠</a>
        <a target="_blank" href="/search/?keyword=%E6%97%A0%E6%B2%B9%E8%A1%AC%E5%A5%97">无油衬套</a>
        <a target="_blank" href="/search/?keyword=%E5%90%8C%E6%AD%A5%E5%B8%A6">同步带</a>
        <a target="_blank" href="/search/?keyword=%E5%AE%9A%E4%BD%8D%E9%94%80">定位销</a>
        <a target="_blank" href="/search/?keyword=%E5%9B%BA%E5%AE%9A%E7%8E%AF">固定环</a>*@


                @{
                    List<string> Keylist = new List<string>(ViewData["热门搜索"].ToString().Split(','));
                    if (Keylist.Count>0)
                    {
                        foreach (var item in Keylist)
                        {
                            <a target="_blank" href="/search/?keyword=@System.Web.HttpUtility.UrlEncode(item)">@item</a>
                        }
                    }
                }

            </div>
        </div>
        @*<div class="top-cart" id="top_cart">
            <div class="top-my-cart">
                <div class="top-cart-btn">
                    <a href="/cart/index.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i> 购物车</a>
                    <span class="cart-num"><em class="cart_quantity">0</em></span>
                </div>
                <div class="top-cart-list"></div>
            </div>
        </div>*@
        <div class="top-quote">
            <a href="#" onclick="alert('@Html.Raw(ViewData["报价"])'); return false;"><i class="fa fa-bolt" aria-hidden="true"></i> 快速报价</a>
        </div>
    </div>
</div>

<div class="nav">
    <div class="frame">
        <div class="cate on" id="cate">
            <div class="cate-tit"><h2>所有产品分类</h2></div>
            <div class="cate-list" id="cate-list">
              
            </div>
        </div>
        <ul class="nav-right">
            <li><a href="https://www.forrun.cn/">首页</a></li>
            <li><a href="/catalog/">产品中心</a></li>
            <li><a href="/brand/">品牌中心</a></li>
            <li><a href="/help/about.html">关于我们</a></li>
        </ul>
    </div>
</div>

<div class="banner">
    <div class="index-banner">
        <div class="bd">
            <ul>

                @{
                    if (Model.bannerList.Any())
                    {
                        foreach (var item in Model.bannerList)
                        {
                            if (string.IsNullOrEmpty(item.URL))
                            {
                                <li style="        background-image: url(/uploads/@item.Img);"></li>

                            }
                            else
                            {
                                <li style="        background-image: url(/uploads/@item.Img);"><a href="@item.URL" title="@item.Title" target="_blank"><strong>@item.Title</strong></a></li>
                            }
                        }
                    }
                }
                @*<li style="background-image: url(/uploads/ad/5ed4630ca0797.jpg);"><a href="https://www.forrun.cn/book.html" title="产品选型手册免费申请" target="_blank"><strong>产品选型手册免费申请</strong></a></li>
        <li style="background-image: url(/uploads/ad/5f4ef0b028149.jpg);"><a href="https://www.forrun.cn/supplier.html" title="诚邀加入凡一供应链" target="_blank"><strong>诚邀加入凡一供应链</strong></a></li>
        <li style="background-image: url(/uploads/ad/5f56d78f77955.jpg);"><a href="	https://www.forrun.cn/help/about.html" title="凡一商城介绍" target="_blank"><strong>凡一商城介绍</strong></a></li>*@
            </ul>
        </div>
        <div class="hd">
            <ul><li></li><li></li><li></li><li></li><li></li><li></li></ul>
        </div>
        @* <div class="index-notice"> *@
        @*     <div class="user-info"> *@
        @*         <img src="/Static/images/user-head.png?=1.2" alt="用户头像" /> *@
        @*         <p>尊敬的客户，您好！<br />欢迎来到凡一商城！</p> *@
        @*     </div> *@
        @*     <div class="user-btn"> *@
        @*         <a href="/user/login.html" rel="nofollow" class="mr10">登录</a> *@
        @*         <a href="/user/signup.html" rel="nofollow">注册</a> *@
        @*     </div>           <div class="free-find"><a href="/quote.html"><i class="fa fa-table" aria-hidden="true"></i> 快速报价入口</a><p>支持型号替换和来图定制</p></div> *@
        @*     <div class="notice-box"> *@
        @*         <h3><a href="/article/notice.html" class="fr">更多+</a>商城新闻</h3> *@
        @*         <ul> *@
        @*             <li><a href="/article/2427.html" title="凡一商城2021年春节放假通知" target="_blank">凡一商城2021年春节放假通知</a></li> *@
        @*             <li><a href="/article/2424.html" title="凡一商城2021年元旦放假通知" target="_blank">凡一商城2021年元旦放假通知</a></li> *@
        @*             <li><a href="/article/2331.html" title="凡一商城2020年国庆节及中秋节放假通知" target="_blank">凡一商城2020年国庆节及中秋节放假通知</a></li> *@
        @*             <li><a href="/article/2275.html" title="“小新异大服务” 凡一商城网站改版上线" target="_blank">“小新异大服务” 凡一商城网站改版上线</a></li> *@
        @*             <li><a href="/article/2274.html" title="喜讯！凡一商城又获“广东省守合同重信用企业”" target="_blank">喜讯！凡一商城又获“广东省守合同重信用企业”</a></li> *@
        @*         </ul> *@
        @*     </div> *@
        @*     <div class="index-book-app"><a href="/book.html"><h4>纸质目录免费申请</h4><p>凡一商城《2020-2021 产品手册》</p></a></div> *@
        @* </div> *@
    </div>
</div>




<div class="index-floor floor-2 mt35 frame">
    <div class="floor-tit">
        <h3>人体防护类</h3>
        <span><a href="/catalog/292/">更多 <i class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
    </div>
    <div class="floor-con clearfix">
        <div class="floor-img"><a href="/catalog/292/"><img src="/Static/images/index/f2.jpg" alt="人体防护类"></a></div>
        <div class="floor-pro">
            <ul>

                @{
                    if (Model.goodsList_cat2.Any())
                    {
                        foreach (var item in Model.goodsList_cat2)
                        {
                            string imgsrc = "/uploads" + item.goodsImg + "_100.jpg";
                            string goodsName = item.goodsName;
                            if (goodsName.Length > 9)
                            {
                                goodsName = goodsName.Substring(0, 9) + "...";
                            }

                            if (@item.isRecom || @item.isNew)
                            {
                                <li>
                                    <span class="rec">热门</span>
                                    <a href="/catalog/426/" title="@item.goodsName">
                                        <img src="@imgsrc" alt="@item.goodsName">
                                        <p>@goodsName</p>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/catalog/426/" title="@item.goodsName">
                                        <img src="@imgsrc" alt="@item.goodsName">
                                        <p>@goodsName</p>
                                    </a>
                                </li>
                            }
                        }
                    }
                }



            </ul>
        </div>
    </div>
</div><div class="index-floor floor-3 mt35 frame">
    <div class="floor-tit">
        <h3>作业用具类</h3>
        <span><a href="/catalog/306/">更多 <i class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
    </div>
    <div class="floor-con clearfix">
        <div class="floor-img"><a href="/catalog/306/"><img src="/Static/images/index/f3.jpg" alt="作业用具类"></a></div>
        <div class="floor-pro">
            <ul>

                @{
                    if (Model.goodsList_cat3.Any())
                    {
                        foreach (var item in Model.goodsList_cat3)
                        {
                            string imgsrc = "/uploads" + item.goodsImg + "_100.jpg";
                            string goodsName = item.goodsName;
                            if (goodsName.Length > 9)
                            {
                                goodsName = goodsName.Substring(0, 9)+"...";
                            }

                            if (@item.isRecom || @item.isNew)
                            {
                                <li>
                                    <span class="rec">热门</span>
                                    <a href="/catalog/426/" title="@item.goodsName">
                                        <img src="@imgsrc" alt="@item.goodsName">
                                        <p>@goodsName</p>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/catalog/426/" title="@item.goodsName">
                                        <img src="@imgsrc" alt="@item.goodsName">
                                        <p>@goodsName</p>
                                    </a>
                                </li>
                            }
                        }
                    }
                }

            </ul>
        </div>
    </div>
</div>

@*<div class="index-floor floor-5 mt35 frame">
    <div class="floor-tit">
        <h3>周转器材类</h3>
        <span><a href="/catalog/105/">更多 <i class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
    </div>
    <div class="floor-con clearfix">
        <div class="floor-img"><a href="/catalog/105/"><img src="/Static/images/index/f5.jpg" alt="定位固定零件"></a></div>
        <div class="floor-pro">
            <ul><li><span class="rec">热门</span><a href="/catalog/21/" title="定位销 · 圆柱销"><img src="/Public/upload/fa_category/2018/03-02/5a98b489d8eb4.jpg" alt="定位销 · 圆柱销"><p>定位销 · 圆柱销</p></a></li><li><span class="rec">热门</span><a href="/catalog/24/" title="平键"><img src="/Public/upload/fa_category/2018/03-02/5a98b4d816420.jpg" alt="平键"><p>平键</p></a></li><li><a href="/catalog/322/" title="手动位移台 · 微调平台"><img src="/Public/upload/fa_category/2019/05-08/5cd23f6bd19c4.jpg" alt="手动位移台 · 微调平台"><p>手动位移台 · 微调平台</p></a></li><li><a href="/catalog/323/" title="电动位移平台"><img src="/Public/upload/fa_category/2019/05-08/5cd2403458b7e.jpg" alt="电动位移平台"><p>电动位移平台</p></a></li><li><a href="/catalog/324/" title="对位平台"><img src="/Public/upload/fa_category/2019/05-08/5cd241568a2e3.jpg" alt="对位平台"><p>对位平台</p></a></li><li><a href="/catalog/125/" title="定位销衬套"><img src="/Public/upload/fa_category/2018/03-02/5a98b4c54ea6e.jpg" alt="定位销衬套"><p>定位销衬套</p></a></li><li><a href="/catalog/23/" title="卡销 · 开口销"><img src="/Public/upload/fa_category/2018/03-02/5a98b6254eb79.jpg" alt="卡销 · 开口销"><p>卡销 · 开口销</p></a></li><li><a href="/catalog/25/" title="扣环 · 挡圈"><img src="/Public/upload/fa_category/2018/03-02/5a98bb15a556d.jpg" alt="扣环 · 挡圈"><p>扣环 · 挡圈</p></a></li><li><span class="rec">热门</span><a href="/catalog/35/" title="弹簧柱塞 · 旋钮柱塞"><img src="/Public/upload/fa_category/2018/02-26/5a93c47af3eda.jpg" alt="弹簧柱塞 · 旋钮柱塞"><p>弹簧柱塞 · 旋钮柱塞</p></a></li><li><a href="/catalog/118/" title="紧定螺钉 · 锁紧螺栓"><img src="/Public/upload/fa_category/2018/01-22/5a659669b6cb1.jpg" alt="紧定螺钉 · 锁紧螺栓"><p>紧定螺钉 · 锁紧螺栓</p></a></li>			</ul>
        </div>
    </div>
</div>*@

<div class="index-brand mt35 frame">
    <div class="product-tit">
        <h3 class="i-brand">品牌中心</h3>
        <span><a href="/brand/">查看更多</a></span>
    </div>
    <div class="index-brand-con">

        <ul class="index-brand-ul clearfix">


            @{
                if (Model.brandsList.Any())
                {
                    foreach (var item in Model.brandsList)
                    {

                        @*<option value='@item.EnClassName' selected="selected">@item.ClassName</option>*@
                        <li><a href="#"><img src="/uploads/Logo/@item.brandImg" alt="@item.brandName" /><span>@item.brandName</span></a></li>
                    }
                }
            }

         

        </ul>
    </div>
</div>



@*<div class="frame mt35">
        <div class="links">
            <strong>友情链接</strong><a href="http://www.szcy99.com/" target="_blank">激光打标机厂家</a><a href="http://www.pinpai-bang.com" target="_blank">中国品牌榜</a><a href="http://www.schalod.com" target="_blank">光栅尺</a><a href="https://www.gmb2b.com" target="_blank">b2b网站</a><a href="https://www.chinabrands.cn/ " target="_blank">外贸b2b平台</a><a href="http://www.yunken.com" target="_blank">橡胶</a><a href="https://www.ymgk.com/" target="_blank">工控网</a><a href="http://www.hlo-trade.com/" target="_blank">SCHUNK</a><a href="http://www.sheji-china.cn" target="_blank">十大设计品牌</a><a href="https://www.huanbao35.com" target="_blank">环保设备</a><a href="http://www.lqjxc.com" target="_blank">挖掘机</a><a href="http://www.sotongwang.com" target="_blank">搜统网</a><a href="http://www.0tpe.com" target="_blank">tpu</a><a href="https://www.bjhgyjs.com" target="_blank">检测机构</a><a href="http://www.juboshi.cn" target="_blank">空调维修</a><a href="https://www.huazhengcaiwu.com" target="_blank">注册公司</a>
        </div>
    </div>*@

<div class="footer">
    <div class="frame">
        <ul class="footer-good">
            <li class="f1"><h5>超短货期</h5><p>现货备存 闪电发货</p></li>
            <li class="f2"><h5>高品质保证</h5><p>专柜精选 优势供应</p></li>
            <li class="f4"><h5>提供增值税发票</h5><p>商务凭证 省时省力</p></li>
            <li class="f5"><h5>一站式采购</h5><p>种类丰富 应有尽有</p></li>
        </ul>
    </div>

    <div class="footer-info">
        <div class="frame">
            <div class="footer-nav">
                @* <a href="/sitemap.html">网站地图</a><span>-</span> *@
                <a href="/help/about.html">关于我们</a><span>-</span>
                <a href="/help/manager.html">企业创始人</a><span>-</span>
                <a href="/help/contact.html">联系我们</a><span>-</span>


                <a href="/help/index.html">帮助中心</a><span>-</span>
                <a href="/help/license.html">网站声明</a>
            </div>

            <div class="copyright">
                <p>@Html.Raw(ViewData["Copyright"])</p>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var ROOT = '/';
        var STATIC = '/Static/';
        var UID = 0;
        var IS_INDEX = 1;
        var SSID = 'p0aaqfjqvn9el5po2q8qbr6626';
    </script>
    <script src="/Static/js/forrun.min.js?v=ae9e0a639c"></script>
    @*<script>var banner_bg = ["#EFF8FF","#468BC1","#79E047"];</script>*@
    

    <script>var banner_bg = [@Html.Raw(ViewData["banner_bg"])];</script>
    
    
    

  
    <script src="/Static/js/index.min.js?v=90058d336a"></script>
}
