@{
    ViewBag.Title = "邦可电子";
    var F = @Html.F();
}

@section head {

    <link type="text/css" rel="stylesheet" href="~/res/css/index.css" />

}

@section body {

    <div id="header" class="f-widget-header f-mainheader">
        <table>
            <tr>
                <td>
                    @(F.Button()
                        .EnableDefaultCorner(false).EnableDefaultState(false)
                        .IconFont(IconFont._Home).IconAlign(IconAlign.Top)
                        .ToolTip("首页").ID("btnHomePage").CssClass("icononlyaction"))
                    <a class="logo" title="">
                        邦可电子
                    </a>
                </td>
                <td style="text-align: right;">
                    @(F.Button().CssClass("icononlyaction").ID("btnThemeSelect").ToolTip("修改密码").IconAlign(IconAlign.Top).IconFont(IconFont.Key).EnableDefaultState(false).EnableDefaultCorner(false).TabIndex(-1).Listener("click", "onThemeSelectClick"))

                    @(F.Button().EnableDefaultCorner(false).EnableDefaultState(false)
                        .Text(ViewBag.UserName)
                        .IconAlign(IconAlign.Left)
                        .IconUrl(Url.Content("~/res/images/my_face.png"))
                        .CssClass("userpicaction")

                    .Menu(F.Menu()
                    .Items(
                    F.MenuButton().IconFont(IconFont._SignOut).Text("安全退出").OnClick(Url.Action("LoginOut_Click"))
                    )
                    )
                    )
                </td>
            </tr>
        </table>
    </div>
    

    <div id="maincontent">

        <h2>邦可网站</h2>
        <ul class="list">
            <li>
                商品数量：@Html.Raw(ViewBag.GoodsCount)
            </li>
            <li>
                品牌数量：@Html.Raw(ViewBag.BrandCount)
            </li>
        </ul>

        <h2>系统信息</h2>
        <ul class="list">
            <li>
                操作系统：@Html.Raw(ViewBag.OS)
            </li>
            <li>
               .NET Core：@Html.Raw(ViewBag.Ver)
            </li>
        </ul>

    </div>

    @(F.RegionPanel().ID("RegionPanel1").ShowBorder(false).IsViewPort(true).CssClass("mainpanel")
        .Regions(
            F.Region().ID("Region1").ShowBorder(false).ShowHeader(false).RegionPosition(Position.Top).CssClass("topregion bgpanel").Layout(LayoutType.Fit).ContentEl("#header"),
            F.Region().ID("Region2").RegionSplit(true).RegionSplitWidth(2).RegionSplitIcon(false).Width(200).ShowHeader(false).Title("菜单").EnableCollapse(true).Layout(LayoutType.Fit).RegionPosition(Position.Left).CssClass("leftregion bgpanel")
                .Items(
                    F.Tree().ID("treeMenu").ShowBorder(false).ShowHeader(false).EnableSingleClickExpand(true)
                        .Nodes((TreeNode[])ViewBag.TreeMenuNodes)
                ),
            F.Region().ID("mainRegion").ShowHeader(false).Layout(LayoutType.Fit).RegionPosition(Position.Center).CssClass("centerregion")
                .Items(
                    F.TabStrip().ID("mainTabStrip").EnableTabCloseMenu(true).ShowBorder(false).ShowInkBar(true)
                        .Tabs(
                            F.Tab().ID("Tab1").Title("首页").BodyPadding(10).Layout(LayoutType.Fit).Icon(Icon.House).ContentEl("#maincontent")
                        )
                )
        )
    )


    @(F.Window().Hidden(true).EnableResize(true).EnableMaximize(true).EnableClose(true).Height(250).Width(650).IsModal(true).ClearIFrameAfterClose(false).IFrameUrl(Url.Content("~/Admin/Home/PassWord")).EnableIFrame(true).Title("修改密码").ID("windowThemeRoller"))
}

@section script {

    <script>

        // 点击主题仓库
        function onThemeSelectClick(event) {
            F.ui.windowThemeRoller.show();
        }

        // 通知框
        function notify(msg) {
            F.notify({
                message: msg,
                messageIcon: 'information',
                target: '_top',
                header: false,
                displayMilliseconds: 3 * 1000,
                positionX: 'center',
                positionY: 'center'
            });
        }

        // 页面控件初始化完毕后，会调用用户自定义的onReady函数
        F.ready(function () {

            if (!F.ui.treeMenu) return;


            // 初始化主框架中的树和选项卡互动，以及地址栏的更新
            // treeMenu： 主框架中的树控件实例，或者内嵌树控件的手风琴控件实例
            // mainTabStrip： 选项卡实例
            // updateHash: 切换Tab时，是否更新地址栏Hash值（默认值：true）
            // refreshWhenExist： 添加选项卡时，如果选项卡已经存在，是否刷新内部IFrame（默认值：false）
            // refreshWhenTabChange: 切换选项卡时，是否刷新内部IFrame（默认值：false）
            // maxTabCount: 最大允许打开的选项卡数量
            // maxTabMessage: 超过最大允许打开选项卡数量时的提示信息
            F.initTreeTabStrip(F.ui.treeMenu, F.ui.mainTabStrip, {
                maxTabCount: 10,
                maxTabMessage: '请先关闭一些选项卡（最多允许打开 10 个）！'
            });


            var themeTitle = F.cookie('Theme_Title');
            var themeName = F.cookie('Theme');
            if (themeTitle) {
                F.removeCookie('Theme_Title');
                notify('主题更改为：' + themeTitle + '（' + themeName + '）');
            }

        });
    </script>
}
